.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Exo2-Regular";
}

#welcomeScreenBorderPane {
    -fx-background-image: url("stardust_img.png");
}

.startScreen, .situation {
    -fx-font-fill: #dfdfdf;
}

#startGameButton{
    -fx-font-family: "Exo2-Regular";
    -fx-font-size: 16pt;
}